.gallery-title{
    padding-left: 80px;
    font-size: 45px;
}
.gallery-info-wrap{
    display: flex;
    justify-content: space-around;
}
.gallery-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: calc(100vh - 230px);
}
.gallery-info{
    width: 75%;
    color: black;
    font-size: 25px;
}
.gallery-info>a{
    color: black;
}
.gallery-tri{
    width: 50px;
    height: 112px;
}
.gallery-item{
    padding: 15px;
    margin: 10px 0 10px 80px;
    border: black solid 3px;
    width: 15%;
    height: 22vw;
}
.gallery-item>svg{
    width: 100%;
}